@font-face {
  font-family: "proxima-nova";
  src: url("./assets/fonts/ProximaNova-Regular.otf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.is-strong-color {
  color: rgba(234, 157, 174, 1) !important;
}

.is-strong-darker-color {
  color: rgba(144, 61, 79, 1) !important;
}

.is-strong-background-color {
  background-color: rgba(234, 157, 174, 1) !important;
}
.is-strong-darker-background-color {
  background-color: rgba(144, 61, 79, 1) !important;
}

.is-light-grey {
  color: #555 !important;
}
.is-title {
 font-family: 'proxima-nova', sans-serif !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
